<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceHackathon" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-k7g31de:7777/HackathonService/Hackathon.Service.ServiceHackathon.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHackathon"
                contract="ServiceHackathon.IServiceHackathon" name="BasicHttpBinding_IServiceHackathon" />
        </client>
    </system.serviceModel>
</configuration>