@model Hackathon.Web.Models.FormulaireModel
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="~/Scripts/jquery-3.1.1.js"></script>

    <div id="PageContainer">
        @{
            Html.RenderAction("FormulairePage");
        }           
        <input type="button" id="nextPageBtn" value="Page suivante" />       
      
    </div>



    <script type="text/javascript">
        $('#nextPageBtn').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("PageSuivante")',
                data: $('#PageContainer').children().serialize(),
                success: function (response) {
                    console.log(response);
                }
            });
        });
    </script>
</body>
</html>
