@model Hackathon.Web.Models.FormulaireModel
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="~/Scripts/jquery-3.1.1.js"></script>

    <div id="PageContainer">
        @{
            Html.RenderAction("FormulairePage");
        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlCategory").change(function () {
                var categoryId = $("#ddlCategory").val();
                //$("#dvCategoryResults").load();
            });
        });
    </script>
</body>
</html>
